<ion-view>
  <ion-content>
    <br>
    <div class="tennis_court">
      <div class="row row-stretch row-no-padding zone_line2 ">
        <div class="col zone" ng-click="shot('1')"><span>1</span></div>
        <div class="col zone" ng-click="shot('2')">2</div>
        <div class="col zone" ng-click="shot('3')">3</div>
        <div class="col zone" ng-click="shot('4')">4</div>
        <div class="col zone" ng-click="shot('5')">5</div>
        <div class="col zone" ng-click="shot('6')">6</div>
        <div class="col zone" ng-click="shot('7')">7</div>
        <div class="col zone" ng-click="shot('8')">8</div>
      </div>
      <div class="row row-wrap row-no-padding zone_line1 ">
        <div class="col zone" ng-click="shot('9')">9</div>
        <div class="col zone" ng-click="shot('10')">10</div>
        <div class="col zone" ng-click="shot('11')">11</div>
        <div class="col zone" ng-click="shot('12')">12</div>
        <div class="col zone" ng-click="shot('13')">13</div>
        <div class="col zone" ng-click="shot('14')">14</div>
        <div class="col zone" ng-click="shot('15')">15</div>
        <div class="col zone" ng-click="shot('16')">16</div>
      </div>
      <div class="row row-no-padding zone_line1 ">
        <div class="col zone" ng-click="shot('17')">17</div>
        <div class="col zone" ng-click="shot('18')">18</div>
        <div class="col zone" ng-click="shot('19')">19</div>
        <div class="col zone" ng-click="shot('20')">20</div>
        <div class="col zone" ng-click="shot('21')">21</div>
        <div class="col zone" ng-click="shot('22')">22</div>
        <div class="col zone" ng-click="shot('23')">23</div>
        <div class="col zone" ng-click="shot('24')">24</div>
      </div>
      <div class="row zone_line1">
        <div class="col zone" ng-click="shot('0')">OUT</div>
      </div>
    </div>
  </ion-content>
</ion-view>
