<ion-view>

  <ion-content class="padding-horizontal">
    <div class="card">
      <div class="item">
        <ul>
          <li class="exercise_card_font">
            Shot position: {{shot.shotposition}}
          </li>
          <li class="exercise_card_font">
            Shot type: &nbsp;&nbsp;&nbsp;&nbsp;{{shot.shottype}}
          </li>
          <li class="exercise_card_font">
            Target zone: &nbsp;&nbsp;<b>{{shot.targetzone}}</b>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-33" align="center">
        Left
      </div>
      <div class="col-33" align="center">
        Center
      </div>
      <div class="col-33" align="center">
        Right
      </div>
    </div>
    <div class="row">
      <div class="col-33 padding">
        <table>
          <tr>
            <td width="{{left.hit}}%" style="background-color: #4cd964; outline-color: white">
            </td>
            <td width="{{left.miss}}%" style="background-color: yellow; outline-color: white">
            </td>
            <td width="{{left.none}}%" style="background-color: grey; outline-color: white">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-33 padding">
        <table>

          <tr>
            <td width="{{center.hit}}%" style="background-color: #4cd964; outline-color: white">
            </td>
            <td width="{{center.miss}}%" style="background-color: yellow; outline-color: white">
            </td>
            <td width="{{center.none}}%" style="background-color: grey; outline-color: white">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-33 padding">
        <table>

          <tr>
            <td width="{{right.hit}}%" style="background-color: #4cd964; outline-color: white">
            </td>
            <td width="{{right.miss}}%" style="background-color: yellow; outline-color: white">
            </td>
            <td width="{{right.none}}%" style="background-color: grey; outline-color: white">
            </td>
          </tr>
        </table>
      </div>
    </div>



    <div class="court_container container-fluid">
      <ion-nav-view name="court" ></ion-nav-view>
    </div>

  </ion-content>
</ion-view>
