<ion-view>
  <ion-content class="padding">

    <h1>{{header}}</h1>
    <p>{{content}}</p>

    <div class="court_container container-fluid">
      <ion-nav-view name="court" ></ion-nav-view>
    </div>
  </ion-content>

  <!--This really isn't tab. It's more of hyperlink buttons group-->
  <div class="tabs tabs-calm">
    <a id="tabRight" nav-clear class="tab-item active" ng-click="accuracyStats()">
      <p>Accuracy</p>
    </a>
    <a id="tabLeft" nav-clear class="tab-item" ng-click="scoreStats()">
      <p><b>Score</b></p>
    </a>
  </div>
</ion-view>





